body{
  font-family: 'Nunito Sans', sans-serif;
}

.services {
  padding-top: 5rem;
}

.services .container{
  max-width: 1220px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: 10rem 10rem;
}


.service{
  grid-column-start: span 2;
}

.service-wraper{
  position: relative;
  width: 168px;
}

.service__number{
  position: absolute;
  right: -1rem;
  top: -3rem;
  font-size: 6.5rem;
  font-weight: 900;
  z-index: -1;
  color: #f4f6fd;
  transition: color 0.5s ease-in-out;

}

.service-wraper:hover .service__number{
  color: rgb(255, 66, 0);
}

.octagon{
  position: absolute;
  width: 168px;
  height: 188px;
  fill: #fff;
  filter: drop-shadow(7px 5px 30px rgba(72,73,121,0.15));
  transition: fill 0.5s ease-in-out;
  transition: filter 0.6s ease-in-out;
}

.service-wraper:hover .octagon{
  fill: #f4f6fd;
  filter: drop-shadow(7px 5px 30px rgba(255,255,255,1));
}



.service__container{
  position: absolute;
  top: 0;
  left: 0;
  width: 168px;
  height: 188px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content__icon img{
  width: 4rem;
  height: 4rem;
}

.content__title h3{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.2rem;
}